<?xml version="1.0"?>
<config>
    <modules>
        <ConversionBug_Cookiebaseproduct>
            <version>0.1.0</version>
        </ConversionBug_Cookiebaseproduct>
    </modules>
    <frontend>
        <routers>
            <cbcookiebaseproduct>
                <use>standard</use>
                <args>
                    <module>ConversionBug_Cookiebaseproduct</module>
                    <frontName>cbhistory</frontName>
                </args>
            </cbcookiebaseproduct>
        </routers>
        <layout>
            <updates>
                <cbcookiebaseproduct>
                    <file>cb_cookiebaseproduct.xml</file>
                </cbcookiebaseproduct>
            </updates>
        </layout>
    </frontend>
    <global>
        <helpers>
            <cbcookiebaseproduct>
                <class>ConversionBug_Cookiebaseproduct_Helper</class>
            </cbcookiebaseproduct>
        </helpers>
        <blocks>
            <cbcookiebaseproduct>
                <class>ConversionBug_Cookiebaseproduct_Block</class>
            </cbcookiebaseproduct>
        </blocks>
    </global>
</config>